reservationView.css

/* Style for the table content */
.tablecontent {
  margin: 20px; /* Add margin to provide space between Navbar and the table */
}

/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Add margin to provide space between the heading and the table */
}

/* Style for table heading */
th {
  background-color: #f2f2f2;
}

/* Style for table cells */
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Style for the input fields */
input {
  width: 100%;
  box-sizing: border-box;
}

/* Style for the update and remove buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

main.profile-page {
  padding: 40px;
}

section.user-info {
  margin-bottom: 40px;
}

.user-details {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details p {
  margin: 10px 0;
}

h2 {
  font-size: 24px;
}