header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px; /* Add padding to provide some space around the links */
  display: flex;
  justify-content: space-between; /* This will push the first link to the left and the others to the right */
}

.navmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navmenu li {
  margin: 0 10px; /* Add some margin between the links */
}

/* Optionally, you can style the links for better visibility */
.navmenu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
