/* Navbar.css */

header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.navmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navmenu li {
  margin-right: 20px;
}

.navmenu li:last-child {
  margin-right: 0;
}

.navmenu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navmenu a:hover {
  color: #ffd700;
}
