.place-details-container {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

.place-details-container h1 {
    margin-bottom: 20px;
}

.photos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.data{
    width: 400px;
    margin-left: 550px;
  }

.photos-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.add-reservation-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.add-reservation-btn:hover {
    background-color: #45a049;
}#autocomplete ::placeholder{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}
.numPeople{
    text-align: center;
    font-weight: bolder;
    color:black;
}